<%- include('includes/_head', { title: 'Succession - New Character' }) %>
<%- include('includes/_nav', { subtitle: 'Add a New Character' }) %>

<a class="button is-link mb-4" href="/personajes">Back to Characters</a>

<form action="/personajes/new" method="POST" enctype="multipart/form-data">
    <input type = "hidden" name = "_csrf" value = "<%= csrfToken %>" >
    <div class="field">
        <label for="nombre" class="label">Name</label>
        <div class="control">
            <input id="nombre" name="nombre" class="input" type="text" placeholder="e.g. Tom Wambsgans">
        </div>
    </div>
    <div class="field">
        <label for="descripcion" class="label">Description</label>
        <div class="control">
            <input id="descripcion" name="descripcion" class="input" type="text" placeholder="e.g. Shiv's husband and Waystar executive...">
        </div>
    </div>
    <div class="field">
        <label for="tipo" class="label">Role</label>
        <div class="control">
            <div class="select">
                <select id="tipo" name="tipo">
                    <% tipos.forEach(t => { %>
                        <option value="<%= t.id %>"><%= t.tipo %></option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="archivo" class="label">Image File</label>
        <div class="control">
            <input id="archivo" name="archivo" class="input" type="file" accept="image/png,image/jpg,image/jpeg">
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Save Character">
</form>

<%- include('includes/_footer') %>