<%- include('includes/_head', { title: 'Succession' }) %>
<%- include('includes/_nav', { subtitle: "HBO's Roy family drama" }) %>

<% if (error) { %>
<div class="notification is-danger"><%= error %></div>
<% } %>
<% if (permisos.includes('crear_personajes')) { %>
<a class="button is-primary" href="/personajes/new">New Character</a>
<% } %>
<a class="button is-link" href="/quotes">Quotes</a>
<a class="button is-link" href="/quotes/about">About</a>

<form method="GET" action="/personajes/search" class="mb-4">
    <label for="search">Search</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input type="text" id="search" name="q" class="input is-primary" placeholder="Roy...">
        </div>
        <div class="control">
            <button type="submit" class="button is-link">Go</button>
        </div>
    </div>
</form>

<div class="columns is-multiline mt-3">
    <% for (let personaje of personajes) { %>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <% if (personaje.imagen) { %>
                        <img src="<%= personaje.imagen %>" alt="<%= personaje.nombre %>">
                        <% } %>
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-5"><%= personaje.nombre %></p>
                    <p class="subtitle is-6"><%= personaje.tipo %></p>
                    <p><%= personaje.descripcion %></p>
                    <% if (permisos.includes('crear_personajes')) { %>
                    <a class="button is-warning is-small mt-2" href="/personajes/<%= personaje.id %>/edit">Edit</a>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>

<%- include('includes/_footer') %>
